---
---

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>cozy.nyc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#272727">
  <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <!-- <canvas id="c">
  </canvas> -->

  <div id="header">
    <h1>cozy.</h1>

    <section id="message" class="visible">
      <a href="/about">about</a>
      <a href="/blog">blog</a>
      <a href="/contribute">contribute</a>
      <a href="/donate">donate</a>

      <!-- Icon Links-->
      <section id="icon-links">
        <a href="https://github.com/cozy-nyc/">{% include icons/github.svg %}</a>
        <a href="https://discordapp.com/invite/3WSA2SG">{% include icons/discord.svg %}</a>
        <a href="/email" id="contact-icon">{% include icons/at.svg %}</a>
      </section>

    </section>
  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js'></script>
  <script src="assets/js/index.js"></script>

</body>
</html>
