<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">
    <meta name="theme-color" content="#272727">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" sizes="192x192" href="/assets/img/icon.png">

    <title>cozy.{{ page.title }}</title>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</head>
